{% extends "base.html" %}

{% block contenido %}
<div id="grupo-posts">
    <div id="buscador">
        <form action="" method="post" id="buscador-posts">
            <input type="text" name="buscar" placeholder="Buscar...">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div id="posts">
        {% for post in posts|reverse %}
        <div class="post">
            <div id="izquierdo">
                <a href="{{url_for('posts.post',url=post.url)}}"><h2>{{post.title}}</h2></a>
                <a href="{{url_for('posts.post',url=post.url)}}"><button>Leer</button></a>
                <div id="contenido">
                    <p>{{(post.content[0:300] | safe)+" ..."}}</p>
                </div>
                <p id="autor-fecha">Por Jonathan Reyes <span>| {{post.created}}</span></p>
            </div>
            <div id="imagen-post">
                <a href="{{url_for('posts.post',url=post.url)}}"><img src="{{post.photo}}" alt="{{post.title}}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static',filename="js/posts.js")}}"></script>
{% endblock %}